@charset "UTF-8";
/* base attribute */
:root {
    --main-color: #5D9AB2;
    --accent-color: #BF6A7A;
    --dark-color: #2B5566;
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-color: #ddd;
    --large-width: 1000px;
}
* {
    outline: 1px solid #f00;
}
/* 폰트 */
body {
    font-family: sans-serif;
}
/* 공통 컴포넌트 */
.readble-hidden {
    position: absolute;
    top: 0;
    left: -999999px;
}
/* 레이아웃 */
/* 컴포넌트 스타일 작성 */
.conA {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("img/fruits.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 450px;
}
.conA img {
    width: 20%;
    margin-bottom: 12px;
}
.conA h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15vw;
    font-weight: bold;
    color: var(--white-color);
    margin: 12px 0;
}
.conA p {
    font-size: 1em;
    font-weight: normal;
    color: var(--white-color);
    margin: 12px 0;
}
.conA button {
    background-color: var(--accent-color);
    border: 3px solid var(--white-color);
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: 400;
    box-sizing: border-box;
    padding: 12px 24px;
    color: var(--white-color);
}
.conA button:hover, .conA button:active {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

@media (min-width: 768px) {
    .conA h1 {
        font-size: 115px;
    }
    .conA p {
        font-size: 1.5em;
    }
}

.conB {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 100px 20px;
}
.conB .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px;
}
.conB .container:last-of-type {
    margin: 0;
}
.conB .icon {
    background-color: var(--gray-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--white-color);
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    margin: 0 0 20px;
}
.conB h2 {
    margin: 12px 0;
    font-size: 2em;
    font-weight: bold;
}
.conB p {
    margin: 12px 0;
    font-size: 1.25em;
    font-weight: normal;
}
@media (min-width: 768px) {
    .conB {
        flex-direction: row;
        padding: 100px 0;
        font-size: 12px;
    }
    .conB .container {
        margin: 0 20px 0 0;
        flex-basis: 256px;
    }
    .conB .container:last-of-type {
        margin: 0;
    }
    .conB p {
        height: 3em;
    }
}

.conC {}
.conD {}
